@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: rgb(250, 250, 250);
  --White: rgb(255, 255, 255);
}
/*Moblie verson*/

body {
  font-family: "Public Sans", serif;
  font-size: 18px;
  background-color: var(--Very-Light-Gray);
  color: var(--Grayish-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
}
/* General Element */
.section,
.features_feature,
.section_title,
.hero {
  /* max-width: 700px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--Dark-Blue);
  font-weight: 400;
}
h1,
h2 {
  font-size: 40px;
}
p {
  line-height: 30px;
}
.hero,
.section {
  padding: 40px 35px 60px 35px;
  margin-bottom: 20px;
}
.article_container {
  background-color: white;
}
#section--1 {
  background-color: var(--Light-Grayish-Blue);
}
.article_img {
  /* width: 350px; */
  width: 100%;
}
.features_feature {
  padding-top: 30px;
}
.features_header {
  margin: 0;
  padding-top: 20px;
}
.icon_img {
  width: 80px;
}
.hero_text {
  padding-bottom: 30px;
}
.btn {
  width: 230px;
  height: 60px;
  border-radius: 30px;
  border-color: transparent;
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  color: var(--White);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 20px 0 20px 0;
  cursor: pointer;
}
.news {
  text-align: left;
}
.article_container {
  padding: 25px;
}
.news_text {
  padding-bottom: 15px;
}
.author {
  font-size: 16px;
  margin: 0;
}
/*HEADER*/

.background_moblie {
  position: relative;
  max-width: 1040px;
}
.background_img {
  width: 100%;
}
.backgroung_moblie_phone {
  position: absolute;
  width: 100%;
}
.background_desktop {
  display: none;
}
/*Navigation*/
.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.moblie_nav {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: fixed;
  width: 100%;

  z-index: 100;
  top: 0;
  background-color: var(--White);
}
.desktop_nav {
  display: none;
}
.nav_links_mobile {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background-color: white;
  padding: 20px;
  list-style-type: none;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  border-radius: 10px;
  display: none;
}

.btn_menu_close {
  display: none;
  cursor: pointer;
}
.btn_menu_open {
  cursor: pointer;
}

.nav_link {
  text-decoration: none;
  color: var(--Dark-Blue);
  display: block;
}
.nav_logo {
  width: 180px;
}
/*Footer*/
.footer {
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.soical_media_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
}
.footer_item,
.soical_media_item {
  list-style-type: none;
  text-align: center;
}
.soical_media_icon {
  width: 35px;
}
.footer_logo {
  width: 230px;
  padding: 60px 0 30px 0;
}
.footer_nav {
  padding: 0;
  line-height: 40px;
}
.footer_link {
  color: var(--Grayish-Blue);
  text-decoration: none;
  font-size: 20px;
}
.attribution {
  padding-bottom: 30px;
  font-size: 15px;
}
.attribution a {
  text-decoration: none;
  color: var(--Grayish-Blue);
}

@media only screen and (min-width: 1040px) {
  body {
    font-size: 25px;
    background-color: var(--Very-Light-Gray);
  }
  /*header*/
  .background_moblie {
    display: none;
  }
  .background_desktop {
    display: block;
    position: relative;
  }
  .header_title {
    display: flex;
    align-items: center;
  }
  .background_desktop_img {
    position: relative;
    width: 100%;

    left: 300px;
  }
  .backgroung_moblie_phone {
    width: 75%;
    left: 400px;
    z-index: 10;
  }

  /*Nav*/
  .moblie_nav {
    display: none;
  }
  .desktop_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 130px;
  }
  .nav_links_desktop {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
    list-style-type: none;
  }
  .nav_logo {
    width: 300px;
  }
}
