@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: rgb(250, 250, 250);
  --White: rgb(255, 255, 255);
}
/*Moblie verson*/

body {
  font-family: "Public Sans", serif;
  font-size: 18px;
  background-color: var(--Very-Light-Gray);
  color: var(--Grayish-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
}
/* General Element */
.section,
.features_feature,
.section_title,
.news,
.hero,
.article {
  /* max-width: 700px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--Dark-Blue);
  font-weight: 400;
}
.hero,
.section {
  padding: 30px;
}
.news {
  background-color: var(--white);
}
#section--1 {
  background-color: var(--Light-Grayish-Blue);
}

/*HEADER*/
.background {
  position: relative;
  max-width: 1040px;
}
.background_img {
  width: 100%;
}
.backgroung_moblie_phone {
  position: absolute;
  width: 100%;
}

.article_img {
  /* width: 350px; */
  width: 100%;
}

/*Footer*/
.footer {
  background-color: var(--Dark-Blue);
}
