@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: rgb(250, 250, 250);
  --White: rgb(255, 255, 255);
}
/*General Element*/
html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Public Sans", serif;
  font-size: 18px;
  background-color: var(--Very-Light-Gray);
  color: var(--Grayish-Blue);
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
h1,
h2,
h3 {
  color: var(--Dark-Blue);
  font-weight: 400;
}
h1,
h2 {
  font-size: 45px;
}
p {
  line-height: 30px;
  font-size: 20px;
}

.container {
  max-width: 2100px;
  margin: 0 auto;
}
.features_feature,
.article {
  width: 22%;
  transition: transform 0.2s;
}
.article:hover {
  transform: scale(1.1);
}
.container--active {
  transition: transform 2s, opacity 2s;
}
.container--hidden {
  opacity: 0;
  transform: translateY(6rem);
}
/*HERO*/
.hero {
  display: flex;
}
.hero__img {
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: block;
  background-position: 200px -250px;
  height: 700px;
}
.hero__text {
  padding: 300px 90px 200px 180px;
  width: 60%;
}
.phone__img {
  position: absolute;
  right: 0;
  top: -50px;
}
.hero_btn_container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}

/*Navigation*/
.moblie_nav {
  display: none;
}
.desktop_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 120px;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.sticky {
  position: fixed;
  opacity: 0.9;
}
.nav_links_desktop {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}
.nav_logo {
  width: 250px;
}
.nav_link {
  text-decoration: none;
  color: var(--Dark-Blue);
}
/*SECTION--1(feature)*/
#container--1 {
  background-color: var(--White);
}

.feature__body,
.article__body,
.testimonial__body {
  padding: 100px 180px;
}
.features,
.articles {
  display: flex;
  gap: 50px;
}
.section_description,
.article__title,
.review__text h2 {
  margin: 0;
  padding-bottom: 30px;
}
.feature__title {
  padding-bottom: 80px;
  width: 48%;
}

/*SECTION--2(artice)*/
#container--2 {
  background-color: var(--Light-Grayish-Blue);
}
.article {
  background-color: var(--White);
  border-radius: 10px 10px;
}
.article_pic img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.article_container {
  padding: 30px;
  background-color: var(--White);
  border-radius: 0px 0px 10px 10px;
}
.author {
  font-size: 16px;
  margin: 0;
}

/*Button*/
.btn {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border-color: transparent;
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  color: var(--White);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
.btn-sign-in {
  background: transparent;
  display: flex;
  align-items: center;
  border: 2px solid var(--Bright-Cyan);
  margin: 0;
  color: var(--Dark-Blue);
  font-size: 20px;
  text-align: left;
  line-height: 20px;
  padding-left: 20px;
  gap: 20px;
}
.btn:hover {
  color: var(--Dark-Blue);
  background: transparent;
  border: 2px solid var(--Bright-Cyan);
}
.btn-sign-in:hover {
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  color: var(--White);
}
.btn-sign-in:hover .user__logo {
  content: url(./images/user-svgrepo-hover-com.svg);
}
.footer__btn:hover {
  background-color: var(--White);
  border: 5px solid var(--Bright-Cyan);
}

.user__logo {
  width: 40px;
}
.btn_learnmore {
  background: none;
  color: var(--Lime-Green);
  font-size: 23px;
  border: none;
  border-bottom: 2px solid var(--Lime-Green);
  width: 150px;
  text-align: left;
  margin-top: 100px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0 0 5px 0;
}
/*Footer*/
.footer {
  background-color: var(--Dark-Blue);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px 180px;
}
.footer__logo__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__links {
  display: flex;
  justify-content: flex-start;
  gap: 130px;
}
.footer__links ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 0;
}
.soical_media_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
}
.footer_item,
.soical_media_item {
  list-style-type: none;
  text-align: center;
}
.soical_media_icon {
  width: 35px;
  cursor: pointer;
}
.footer_logo {
  width: 230px;
}
.footer_nav {
  padding: 0;
  line-height: 40px;
}
.footer_link {
  color: var(--White);
  text-decoration: none;
  font-size: 20px;
}
.footer__btn,
.footer_logo {
  margin-bottom: 30px;
}

.attribution {
  padding-bottom: 30px;
  font-size: 15px;
}
.attribution a {
  text-decoration: none;
  color: var(--Grayish-Blue);
}
/* Slider */

.slider {
  max-width: 1500px;
  height: 700px;
  margin: 0;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}
.review__title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
}

.review_image {
  border-radius: 50px;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 100;
  border: none;
  background: var(--Light-Grayish-Blue);
  color: #333;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 45px;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.dots__dot {
  border: none;
  background-color: var(--Grayish-Blue);
  opacity: 0.7;
  height: 13px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 20px;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot--active {
  background-color: var(--Dark-Blue);
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  bottom: 100px;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -50px;
  left: -100px;
  line-height: 1;
  font-size: 250px;
  font-family: inherit;
  color: var(--Lime-Green);
  z-index: -1;
}

.testimonial__header {
  font-size: 25px;
  font-weight: 500;
}

.testimonial__text {
  line-height: 30px;
  font-size: 20px;
  margin: 0 0 50px 0;
  color: #666;
}

.testimonial__author {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 30px;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 79px;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 20px;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 20px;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* Modal Window */
.register-modal,
.sign-in-modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.btn-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: large;
  font-size: 35px;
  cursor: pointer;
  border: none;
  background: none;
}
.register__modal__form,
.signin__modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}
.register__modal__form input {
  height: 30px;
  width: 300px;
}
.register__modal__form label {
  color: var(--Dark-Blue);
}
.register__modal__logo {
  width: 300px;
}
.register__modal__header {
  font-size: 25px;
  font-weight: 600;
  font-style: inherit;
}
/* Sign-in Modal */
.checkbox__container {
  display: flex;
}
.checkbox__container p {
  font-size: 15px;
  margin: 0;
}
.sign-in-input {
  height: 25px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--Grayish-Blue);
}
.input--1 {
  width: 300px;
}
.input--2 {
  width: 224px;
}
.select-code {
  height: 45px;
  border-width: 1px;
  border-radius: 10px;
  border: 1px solid var(--Grayish-Blue);
}
.signin__modal__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.highlight {
  font-weight: bold;
  color: var(--Dark-Blue);
  font-size: 25px;
}
.signin__modal__header p {
  margin: 0;
}
.signin__modal__form label {
  color: var(--Dark-Blue);
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}
/* Large Screen */
@media only screen and (max-width: 1400px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 35px;
  }
  .phone__img {
    width: 100%;
    top: 120px;
  }
  .hero__img {
    background-position: -60px -250px;
  }
  .hero__text {
    padding: 200px 100px;
    width: 80%;
  }
  .btn-primary {
    margin: 20px 0 10px 0;
    width: 150px;
    font-size: 15px;
  }
  .btn-sign-in {
    margin: 20px 0 10px 0;
    width: 180px;
    font-size: 18px;
  }
  .btn_learnmore {
    font-size: 18px;
    width: 130px;
  }
  .features_feature,
  .article {
    width: 100%;
  }
  .feature__body,
  .article__body,
  .testimonial__body {
    padding: 100px;
  }

  .feature__title {
    width: 60%;
  }
  .nav_links_desktop {
    gap: 20px;
  }
  .btn__nav {
    width: 150px;
    font-size: 15px;
  }
  .nav_logo {
    width: 200px;
  }
  .nav_link {
    font-size: 15px;
  }
  .features,
  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  }
  .author {
    font-size: 13px;
  }

  /*FOOTER*/
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__links {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .footer__links ul {
    align-items: center;
  }
  .footer__logo__contacts {
    justify-content: center;
    align-items: center;
  }
  .footer__btn__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__btn {
    margin-top: 30px;
  }
  .review__title {
    gap: 50px;
  }
  .review_image {
    width: 50%;
  }
  .dots {
    bottom: 15%;
  }
}
/* Medium screen */
@media only screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 25px;
  }
  /*NAVIGATION*/
  .moblie_nav {
    display: block;
  }
  .desktop_nav {
    display: none;
  }

  .logo_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .moblie_nav {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: var(--White);
  }
  .nav_links_mobile {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: white;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    border-radius: 10px;
    display: none;
  }

  .btn_menu_close {
    display: none;
    cursor: pointer;
  }
  .btn_menu_open {
    cursor: pointer;
  }

  .nav_link {
    text-decoration: none;
    color: var(--Dark-Blue);
    display: block;
  }
  .nav_logo {
    width: 180px;
  }

  /*HEADER*/
  .hero__img {
    background-image: url(./images/bg-intro-mobile.svg);
    z-index: 10;
    background-size: cover;
    background-position: top;
    width: 100%;
    display: block;
    height: 550px;
    top: 40px;
  }
  .phone__img {
    top: -150px;
    order: 1;
    max-width: 700px;
    max-height: 820px;
    inset: 0;
    margin: auto;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .hero__text {
    margin-top: 100px;
    padding: 65px 0 0 0;
    text-align: center;
    width: 80%;
    order: 2;
  }
  .btn-primary {
    margin: 20px 0 0px 0;
    width: 200px;
    font-size: 18px;
  }
  .hero_btn_container {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
  }
  .btn_learnmore {
    font-size: 20px;
    width: 150px;
    margin: 0 0 50px 5px;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    margin-top: 0;
  }
  .features,
  .articles {
    display: flex;
    flex-direction: column;
  }
  .feature__body,
  .features_feature,
  .article__body,
  .review__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature__title,
  .review__text {
    width: 100%;
    text-align: center;
  }
  .features_feature p {
    text-align: center;
  }
  .feature__body,
  .article__body,
  .testimonial__body {
    padding: 50px;
  }
  .review__text h2 {
    padding-bottom: 10px;
  }
  .review__title {
    gap: 20px;
  }
  .testimonial {
    bottom: 90px;
    left: -35px;
    width: 100%;
  }
  .testimonial::before {
    top: -35px;
    left: -10px;
    font-size: 100px;
  }
  .testimonial__text {
    font-size: 15px;
    margin: 0 0 30px 0;
    color: #666;
  }
  .testimonial__header {
    font-size: 20px;
  }
  .testimonial__author {
    column-gap: 0px;
  }
  .testimonial__name {
    font-size: 15px;
  }
  .testimonial__location {
    font-size: 18px;
  }
  .testimonial__photo {
    width: 70px;
  }
  .slider__btn {
    /* height: 40px;
    width: 40px;
    font-size: 25px; */
    display: none;
  }

  .footer {
    padding: 30px;
  }
  .footer_link {
    font-size: 15px;
  }
  .soical_media_icon {
    width: 25px;
  }
  .attribution {
    font-size: 13px;
  }
  .footer__btn {
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .footer_logo {
    width: 180px;
  }
  .review_image {
    width: 100%;
  }
}

/* X-Small Screen */
@media only screen and (max-width: 500px) {
  .phone__img {
    top: -50px;
    order: 1;
    margin: 0;
  }
  .hero__text {
    /* margin-top: 80px; */
    margin: 80px 0 0 0;
    padding: 80px 0 0 0;
    text-align: center;
    width: 80%;
    order: 2;
  }
  .hero__img {
    max-height: 400px;
  }
}

@media only screen and (max-width: 430px) {
  .phone__img {
    top: -120px;
  }
  .hero__text {
    /* margin-top: 80px; */
    margin: 30px 0 0 0;
    padding: 20px 0 0 0;
    text-align: center;
    width: 80%;
    order: 2;
  }
  .register-modal,
  .sign-in-modal {
    width: 200px;
  }
  .register__modal__form label,
  .signin__modal__form label {
    font-size: 15px;
  }
  .register__modal__form input {
    width: 200px;
  }
  .register__modal__header {
    font-size: 22px;
  }
  .register__modal__logo {
    width: 200px;
  }
  .input--1 {
    width: 220px;
  }

  .input--2 {
    width: 140px;
  }
  .highlight {
    font-size: 18px;
  }
  .signin__modal__header {
    width: 100%;
  }
  .dots {
    bottom: 10%;
  }
}
